<html>
  <head>
  <title>Spotify OAuth Example</title>
  </head>
  <body>
    {% if user %}
     <p>{% if user['img']%}<img src="{{ user['img'] }}" width="25" height="25" />{% endif %} You are logged in as <a href="{{user['profile_url']}}">{{ user['displayname']|escape }}</a>.</p>
     <p>{%print(topArtists)%}</p> 
     <p><a href="/auth/logout">Log out</a></p>
    {% else %}
      <p>You are not yet logged into this site</p>
      <p><a href="/auth/login">Log in to Spotify</a></p>
    {% endif %}
  </body>
</html>